body {
    background-image: url(https://images.ole.com.ar/2022/04/12/IRhY_utqw_2000x1500__1.jpg);
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

.game-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
}

canvas {
    border: 4px solid #3A32FF;
    border-radius: 8px;
    background-color: #EAF451;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 6px; 
    padding-right: 4px; 
    padding-bottom: 10px; 
}

.btns {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 30px;
}

button {
    background-color: #EAF451;
    border-radius: 8px;
    border-color: #3A32FF;
    font-family: inherit;
    margin: 0;
    padding: 5px 20px;
    width: 100px;
    cursor: pointer;
}

button:not(:last-child) {
    margin-right: 10px;
}

.messages {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 80%;
    max-width: 460px;
}

p {
    display: block;
    margin: 0 auto;
    width: 50%;
    background-color: #EAF451;
    border-radius: 10px;
    padding: 10px;
    color: black;
    border:3px solid #3A32FF;
}

@media (max-width: 440px) {
    button {
        margin-top: 25px;
    }
    canvas {
        padding-left: 1px;
        padding-right: 1px;
    }
    #up,
    #down {
        margin-left: 100%;
        margin-right: 100%;
    }
}
@media (min-width: 1024px) {
    canvas {
        padding-left: 12px; 
    }
}
